aiearth-core
comm==0.1.4
fiona 
geopandas 
numpy==1.23.5
onnxruntime-gpu
opencv-python 
opencv-python-headless 
oss2
pyarrow
pycuda 
pydantic==1.10.8
rasterio 
ray==2.5.0
shapely 
tensorrt==8.5.3.1 
tqdm==4.64.1
